.header {
    &__container {
        background: white;
        color: black;
    }

    &__menu {
        height: 60px;
    }

    &__item {
        text-transform: uppercase;
        float: left;
        line-height: 60px;
        margin-left: 10px;
        cursor: pointer;

        a {
            color: $constrastColor;
        }
    }
}